/*STYLES GENERAUX*/
*{
  font-family: Avenir, sans-serif;
  padding: 0px;
  margin: 0px;
}

body{
  background: rgb(237, 237, 237);

}
p{
  font-size: 1.5em;
  line-height: 1.5em;
}
a{
  text-decoration: none;
  color: rgb(33, 63, 163);
}

/*FOOTER*/
.footer {
  width: 100%;

}

footer {
  height: 30px;
}



/*HEADER */
header{
  width: 100%;

  background: url("assets/apercu/wallpaper.jpeg") #4f4f4f;
  background-size: cover;
  height: 150px;
  padding-top: 50px;
}

header h1{
  color: white;
  font-size: 2.9em;
  width: 90%;
  margin: 0 auto;
}

header h2{
  color: white;
  font-size: 2.2em;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

/*SECTIONS*/
section{
  display: flex; 
  flex-flow: row wrap;
  width: 100%;
  margin: 10px auto;
  box-shadow: 0px 0px 10px #bbb;
  background-color: #fff;
}

section h2{
  margin : 40px;
  margin-bottom: 10px;
  width: 90%;
  font-size: 2.2em;
}

section h3{
  margin: 10px 0;
  margin-bottom: 10px;
  width: 90%;
  font-size:  2em;
  line-height: 1em;
}

section > div{
  width: 100%;
}

/*SECTION INFOS*/
.presentation{
  border-bottom: 2px dashed #ccc;
}

.telecharger-btn {
  display: block;
  text-align: center;
  padding: 10px;
  margin: 10px auto 30px auto;
  color: #fff;
  background-color: #4b8;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 5px;
}

.telecharger-btn:hover {
  background-color: rgb(90, 236, 173);;
  color : #464646;
  cursor: pointer; 
  transform: scale(1.01);
}

.contact-flex{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.contact-flex p:first-child{
  flex: 0 0 30%;
}
.contact-flex p:last-child{
  flex: 0 0 70%;
}

.social{
  justify-content: left;
  margin: 10px auto 0px auto;
}
.contact-flex img{
  width: 25px;
  height: 25px;
}


/*SECTION EXP ET FORMATION*/
.exp{
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #bbb;
  padding-bottom: 20px;
}

.exp-info{
  flex-flow: column wrap;
  flex-direction: column;
}

.exp-desc{
  flex-direction: column;
}

.exp-logo{
  max-width: 160px;
  border-radius: 70%;
}

.exp img{
  width: 100%;
  margin-top: 20px;
  margin-left: 40px;

}

.img-logo{
  border-radius: 20px;
}

.exp h3{
  font-size:  2.2em;
  margin-top: 10px;
  margin-left: 50px;
}

.exp h4{
  font-size:  1.9em;
  margin-top: 10px;
  margin-left: 50px;
}

.exp h5{
  font-size:  1.7em;
  font-weight: normal;
  line-height: 1.5em;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 50px;
}

.exp li{
  font-size:  1.7em;
  line-height: 1.5em;
  margin-right: 50px;
  margin-left: 50px;
}

.exp p {
  margin-left: 50px;
}

.exp-meca{
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 30px;
}

.exp-meca img{
  width: 100%;
  margin-top: 30px;
  margin-left: 40px;
  
}

.exp-meca h4{
  font-size:  1.8em;
  line-height: 1.5em;
  margin-top: 10px;
  margin-left: 50px;
}

.exp-meca h5{
  font-size:  1.7em;
  font-weight: normal;
  line-height: 1.5em;
  margin-left: 50px;
}

.exp-meca li{
  font-size:  1.7em;
  line-height: 1.5em;
  margin-right: 50px;
  margin-left: 50px;
}


/*SECTION COMPETENCES*/
.fig-compet{
  flex: 0 1 50%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-bottom: 29px;
  padding: 1%;
  max-width : 150px;
}


.fig-compet img{
  height: 60px;
}

.figcaption-compet{
  font-size:  1.5em;
  line-height: 2em;
  text-align: center;
}

.li-comp {
  width: 100%;
  margin-left: 20px;
  margin-right: 50px;
  font-size: 1.5em;
}

/*SECTION INTERETS*/
.interet{
  flex: 0 1 50%;
  display: flex;
  flex-flow:  column wrap;
  align-items: center;
  margin-bottom: 0px;
  padding: 10px;
}

.interet img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px #555;
}

figcaption{
  font-size:  1.4em;
  line-height: 2em;

}

/*AFFICHAGE POSITIONNEMENT */
.all{
  width:100%;
  display: flex;
  flex-direction: column;
}

.left section{
  width: 100%;
}

.right section{
  width: 100%;
}

.left{
  flex: 100%;
  padding-right: 5px;
}

.right{
  flex: 40%;
  padding-left: 5px;
}

.div_compet{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 2px solid #bbb;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 12px;
}

.section-compet{
  padding-bottom: 0;
}

.section-exp{
  padding-bottom: 0;
}

.section-form{
  padding-bottom: 0;
}

.section-interet{
  padding-bottom: 0;
  justify-content: center;
}

/*VERSION BUREAU DU CV*/
@media screen and (min-width: 980px){
  section{
      width: 100%;
      box-shadow: 0px 0px 10px #bbb;
  }
 
  header h1{
      width: 92%;
  }
  .presentation, .contact{
      flex: 0 0 45%;
  }
  
  .presentation{
      border-bottom: none;
      border-right: 2px solid #ccc;
      padding-right: 20px;
      margin-left: auto;
  }
  .contact{
      padding-left: 20px;
      margin-right: auto;
  }
  .presentation a{
      border: 2px solid transparent;
  }
 
  .exp img{
    width: 100%;
  }

  .exp-info, .exp-desc{
      flex: 0 0 85%;
      margin-left: auto;
  }
  .interet{
      flex: 0 1 25%;
  }
  

  .all{
    border-bottom: none;
    flex: 0 0 45%;
    flex-direction: row;
}



}